/*
Main color for all widgets
*/
QWidget {
	background-color: #222222;
	font-family: 'Calibri';
}

/*
Style for QPushButton's
*/
QPushButton {
	height: 36px;
	padding-left: 8px;
	padding-right: 8px;
	
	border-width: 1px;
	border-radius: 4px;
	border-style: solid;
	border-color: #F08585;
	
	font-size: 16px;
	text-transform: uppercase;
	line-height: 36px;
	
	color: #F08585;
	background-color: transparent;
}
QPushButton:hover {
	background-color: #1AF08585;
}
QPushButton:pressed {
	background-color: #80F08585;
}

/*
Style for QLineEdit's
*/
QLineEdit {
	height: 36px;
	padding-left: 8px;
	padding-right: 8px;
	
	border-width: 1px;
	border-radius: 4px;
	border-style: solid;
	border-color: #808080;
	
	font-size: 16px;
	line-height: 36px;
	
	color: #808080;
	background-color: transparent;
}
QLineEdit:hover {
	border-color: #F08585;
	background-color: #1AF08585;
}
QLineEdit:focus {
	border-color: #F08585;
	background-color: #80F08585;
}

/*
Style for QLabel's
*/
QLabel {
	font: 36px;
}