[submodule "libs/enet"]
	path = libs/enet
	url = https://github.com/zpl-c/enet.git
[submodule "client/openvr"]
	path = client/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "libs/botan"]
	path = libs/botan
	url = https://github.com/randombit/botan.git
[submodule "server/concurrentqueue"]
	path = server/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "server/cxxopts"]
	path = server/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/flatbuffers"]
	path = libs/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "server/lsql"]
	path = server/lsql
	url = https://github.com/hhvrc/LSql.git