[submodule "client/openvr"]
	path = client/vr/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "server/cxxopts"]
	path = server/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "server/lsql"]
	path = server/lsql
	url = https://github.com/hhvrc/LSql.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/flatbuffers"]
	path = libs/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "libs/concurrentqueue"]
	path = libs/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "libs/asio"]
	path = libs/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "libs/sodium"]
	path = libs/sodium
	url = https://github.com/hhvrc/libsodium-bin.git
