[submodule "libs/enet"]
	path = libs/enet
	url = https://github.com/zpl-c/enet.git
[submodule "Client/openvr"]
	path = client/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "libs/botan"]
	path = libs/botan
	url = https://github.com/randombit/botan.git
[submodule "Server/concurrentqueue"]
	path = server/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
